*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --button-color:rgb(89, 90, 222);
    --button-hover-color:linear-gradient(135deg, #596d80ea, #2c3e50);
    --link-color:rgba(0, 0, 0, 0.773);
    --bg-color:#ffffff;
}
body{
    /* width: 100vw; */
    height: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}
.logoimage{
    width: 37px;
    height: 37px;
}
.logoimage img{
    width: 37px;
    height: 37px;
}
.logo{
    display: flex;
}
.navlinks{
    display: none;
    gap: 10px;
}
@media screen and (min-width:750px) {
    .navlinks{
        display: flex;
        gap: 10px;
    }
}
.link{
    position: relative;
    display: inline-block;
}
.link a{
    text-decoration: none;
    color: var(--link-color);
}
.link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1.5px;
    background-color: var(--link-color);
    transition: width 0.5s ease-in-out;
}
.link:hover::after{
    width: 100%;
}
.contact-button{
    display: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: var(--button-color);
    transition: all 0.3s ease-in-out;
}
@media screen and (min-width:750px){
    .contact-button{
        display: block;
    }
}
.contact-button:active{
    transform: scale(0.95);
    background: var(--button-hover-color);
}
.menu-icon{
    background-color: white;
    border: none;
    display: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width:750px){
    .menu-icon{
        display: block;
    }
}
.menu-icon:active{
    transform: scale(0.95);
}
.menu-icon img{
    height: 28px;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 1rem;
    padding: 2rem;
    align-items: center;
}
@media screen and (max-width:830px) {
    .hero{
        height: 800px;
        margin-top: 2rem;
        padding: 1rem;
        flex-direction: column-reverse;
        justify-content: center;
    }
}
.textBox{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 20px;
    opacity: 0;
    animation: lefttoright 1s ease forwards;
}
@media screen and (max-width:830px) {
    .textBox{
        width: 100%;
        height: 60%;
    }
}
@keyframes lefttoright{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@media screen and (max-width:830px) {
    .textBox{
        align-items: center;
    }
}
.productIntro{
    color: blue;
    font-weight: bold;
}
.productTitle{
    font-size: xx-large;
}
.productDis{
    color: rgba(63, 63, 63, 0.867);
}
.stbuttons{
    display: inline;
}
.start{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: var(--button-color);
    transition: all 0.3s ease-in-out;
}
.start:active{
    transform: scale(0.95);
    background: var(--button-hover-color);
}
.tour{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(54,53,56);
    transition: all 0.3s ease-in-out;
}
.tour:active{
    transform: scale(0.95);
    background: var(--button-hover-color);
}
.imageBox{
    width: 40%;
    height: 100%;
    border-radius: 10px;
}
.imageBox img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@media screen and (max-width:830px) {
    .imageBox{
        width: 100%;
        height: 40%;
    }
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 10px;
    animation: lefttoright 1s ease forwards;
}
.companies{
    display: grid;
    gap: 15px;
    padding: 26px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(236,236,236);
    border-radius: 5px;
}
@media screen and (min-width:750px){
    .content{
        margin-top: 1rem;
    }
    .companies{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,1fr);
    }
}
.company{
    display: flex;
    align-items: center;
}
.company img{
    width: 25px;
    height: 25px;
}
.company p{
    color: rgba(145, 145, 145, 0.698);
    font-weight: bold;
}
.cardparent{
    width: 100%;
    background-color: rgb(234,234,234);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 10px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.carddis{
    width: 300px;
    text-align: center;
    color: rgba(58, 58, 58, 0.757);
}
.realcardcontainer{
    display: grid;
    grid-template-rows: repeat(6,210px);
    grid-template-columns: repeat(1,370px);
    gap: 15px;
}
@media screen and (min-width:790px){
    .carddis{
        width: 700px;
    }
    .realcardcontainer{
        grid-template-rows: repeat(3,210px);
        grid-template-columns: repeat(2,270px);
    }
}
.bucket{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
    gap: 12px;
    color: white;
}
#bucket1{
    background-color: rgba(57, 121, 216, 0.639);
    text-align: center;
    border-radius: 5px;
}
#bucket2{
    background-color: rgba(254, 77, 115, 0.668);
    text-align: center;
    border-radius: 5px;
}
#bucket3{
    background-color: rgba(250, 174, 67, 0.94);
    text-align: center;
    border-radius: 5px;
}
#bucket4{
    background-color: rgba(53, 173, 177, 0.94);
    text-align: center;
    border-radius: 5px;
}
#bucket5{
    background-color: rgba(96, 156, 72, 0.94);
    text-align: center;
    border-radius: 5px;
}
#bucket6{
    background-color: rgba(102, 97, 157, 0.697);
    text-align: center;
    border-radius: 5px;
}
.imgbuc{
    width: 37px;
    height: 37px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbuc img{
    width: 30px;
    height: 30px;
}
.testimonial{
    width: 100%;
    height: 208px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.textinomailcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.reviewbox{
    display: flex;
    gap: 15px;
}
@media screen and (max-width:750px){
    .testimonial{
        height: 567px;
        margin-top: 2rem;
    }
    .reviewbox{
        display: flex;
        flex-direction: column;
    }
}
.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 174px;
    padding: 7px;
    gap: 10px;
    border: 1px solid rgba(117, 117, 117, 0.568);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.71);
    transition: all 0.3s ease;
}
.review:hover{
    transform: scale(1.02);
    box-shadow: 2px 1px 14px 0px rgba(56,147,222,1);
    border: 1px solid rgba(56,147,222,1);
}
.testtext{
    font-size: 14px;
}
.testimg{
    width: 37px;
    height: 37px;
    border-radius: 50%;
}
.testimg img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
}
.para1{
    color: rgba(0, 0, 255, 0.742);
    font-weight: bold;
}
.para2{
    color: rgba(51, 51, 51, 0.719);
}
.newsletter{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
@media screen and (max-width:750px){
    .newsletter{
        height: 490px;
        margin-top: 2rem;
    }
}
.lettercontent{
    display: flex;
    width: 740px;
    height: 200px;
}
@media screen and (max-width:750px){
    .lettercontent{
        width: 100%;
        height: 470px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.newswallpaer{
    width: 340px;
    height: 220px;
}
.newswallpaer img{
    width: 340px;
    height: 220px;
}
@media screen and (max-width:750px){
    .newswallpaer{
        width: 330px;
        height: 220px;
    }
    .newswallpaer img{
        width: 330px;
        height: 220px;
    }
}
.newstexts{
    width: 400px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    gap: 0.7rem;
    background-color: rgb(236, 236, 236);
}
@media screen and (max-width:750px) {
    .newstexts{
        width: 330px;
        height: 250px;
        padding-left: 0rem;
    }
}
.newsheading h1{
    color: rgba(0, 0, 255, 0.764);
    font-weight: bold;
    font-size:x-large
}
.newsheading p{
    color: rgba(38, 38, 38, 0.849);
}
#email{
    padding: 3px;
}
#sendbutton{
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.764);
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}
#sendbutton:active{
    transform: scale(0.95);
}
.foot{
    width: 100%;
    height: 230px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:750px){
    .foot{
        height: 710px;
        margin-top: 2rem;
    }
}
.footcontent{
    width: 84%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
@media screen and (max-width:750px){
    .footcontent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 700px;
        align-items: center;
        gap: 1rem;
    }
}
.footheading{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.footlogo{
    display: flex;
}
.footicon{
    display: flex;
    gap: 0.38rem;
}
.footlogo img{
    width: 37px;
    height: 37px;
}
.footicon a{
    text-decoration: none;
}
.intaicon{
    width: 25px;
    height: 25px;
}
.intaicon img{
    width: 25px;
    height: 25px;
}
.fbicon{
    width: 25px;
    height: 25px;
}
.fbicon img{
    width: 25px;
    height: 25px;
}
.twitericon img{
    width: 25px;
    height: 25px;
}
.twitericon img{
    width: 25px;
    height: 25px;
}
.ldinicon{
    width: 25px;
    height: 25px;
}
.ldinicon img{
    width: 25px;
    height: 25px;
}
.footlist{
    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-template-columns: repeat(4,25%);
    gap: 1.35rem;
}
@media screen and (max-width:750px){
    .footlist{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2,260px);
        grid-template-columns: repeat(2,1fr);
    }
}
.listcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.plist{
    list-style-type: none;
}
.plist li{
    margin-bottom: 1rem;
}
.plist a{
    text-decoration: none;
    color: rgba(54, 54, 54, 0.81);
    font-family: 'Times New Roman', Times, serif;
}
.footcloser{
    width: 84%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E5E7EB;
}
